@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    -webkit-transition: all 0.3s;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    border-radius: 20px
}

body {
    margin: 20px;
    background-color: #222222;
    color: #EEEEEE;
}

button {
    width: 90px;
    margin: 30px 65px;
    cursor: pointer;
    border: 1px;
    padding: 15px 25px;
}

button:hover {
    background-color: azure;
    box-shadow: 0px 0px 3px 3px azure;
    padding: 16px 26px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px
}

hr {
    background-color: #EEEEEE;
    height: 5px;
}

.ans {
    background-color: #EEEEEE;
    color: #222222;
    margin: -4% auto;
    font-size: 60px;
    width: 150px;
    text-align: center;
    align-items: center;
    padding: 20px 20px;
}

.numes {
    color: #EEEEEE;
    font-size: 40px;
    padding: 15px 25px;
    background-color: #222222;
    border: 4px #EEEEEE dotted;
}

.numes:focus {
    border: 4px #EEEEEE dashed;
    margin: auto;
}

h2 {
    width: 300px;
}

section {
    width: 200px;
    margin: 100px 260px;
    display: inline-block;
}