@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    border-radius: 20px
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
    background-color: #222222;
    color: #EEEEEE;
}

button {
    cursor: pointer;
    border: 1px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px
}

hr {
    background-color: #EEEEEE;
    height: 5px;
}

.ans {
    display: block;
    margin: -4% auto;
    font-size: 60px;
    width: 120px;
    text-align: center;
    align-items: center;
    padding: 20px 20px;
    color: #222222;
    background-color: #EEEEEE;
}

.numes {
    font-size: 40px;
    color: #EEEEEE;
    padding: 15px 25px;
    background-color: #222222;
    border: 4px #EEEEEE dotted;
}

.numes:focus {
    border: 4px #EEEEEE solid;
}

.chk {
    padding: 15px 20px;
    margin: 18%;
}

div {
    display: flex;
    width: 500px;
    margin: 0 auto;
    padding: 80px;
}

form {
    margin-top: 40px;
    margin-left: -230px;
}

.stn2 {
    margin-left: 500px;
}